.container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & .header {
        display: flex;
        align-items: center;
        gap: 16px;
        height: 30px;

        button {
            max-width: 30px;
            max-height: 30px;
            border-radius: 12px;
            padding: 8px;
        }
    }

    & .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2px;
        border-bottom: 1px solid #E2E8F0;

        & .listItem {
            height: 23px;

            font-size: 18px;
            font-weight: 300;
            line-height: 23.4px;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: calc(100% - 24px);
        }

        button {
            max-width: 19px;
            max-height: 19px;
            border-radius: 36px;
            padding: 4px;
        }
    }
}