
@mixin icon_button {
    border: none;
    border-radius: 12px;
    width: 44px;
    height: 44px;
    padding: 12px;

    .icon {
        width: 20px;
        height: 20px;
    }
}

.default {
    @include icon_button;
    background-color: #A855F7;

    &:hover {
        background-color: #A855F799;
    }
}

.no_bg {
    @include icon_button;
    background-color: transparent;

    &:hover {
        background-color: #F3F3F3;
    }
}

.closeButton {
    @include icon_button;
    padding: 7px;
    width: 28px;
    height: 28px;

    .icon {
        width: 14px;
        height: 14px;
    }
}