.lab__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.02em;
    align-items: center;
}

.lab__name, .lab__deadline {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -0.02em;
    margin: 0;
}

.lab__date {
    color: #593780
}

.lab__description {
    background-color: #E2E5E9;
    border-radius: 8px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.02em;
    padding: 24px 16px;
}