.wrapper {
    display: flex;
    flex-direction: column;

    max-width: 100dvw;
    gap: 32px;
    padding: 120px 240px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    height: 47px;
    width: 100%;
    justify-content: space-between;
}

.nameContainer {
    display: flex;
    gap: 48px;

    font-size: 36px;
    line-height: 46.8px;
    text-align: left;
}

.buttons {
    display: flex;
    gap: 8px;
}

.container {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.title {
    font-size: 32px;
    line-height: 41.6px;
    text-align: left;
}

.content {
    font-size: 24px;
    line-height: 31.2px;
}