.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    & .submitButton {
        width: max-content;
    }

    & .calendar {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .buttonContainer {
        display: flex;
        justify-content: flex-end;
    }

    & .submitButton {
        padding: 10.5px 17.5px;
        margin-block-start: 26px;
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;
        text-align: left;
       }
  }