.header {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

.nameContainer {
    display: flex;
    gap: 48px;

    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
}

.buttons {
    display: flex;
    gap: 8px;
}