.labpage__main {
    padding-inline: 144px 95px;
    padding-block-start: 77px;
}

.labpage__button_back {
    background-color: transparent;
    margin-block-end: 29px;
}

.labpage__button_back_img {
    max-width: 78px;
}

.labpage__button_add {
    border-radius: 14px;
    padding: 14px 11px;
    font-size: 32px;
    font-weight: 500;
    line-height: 43.27px;
    letter-spacing: -0.017em;
    text-align: center;
    background-color: #593780;
    color: #fff;
}