.labs_table {
    max-width: 1360px;
    margin-block-start: 48px;
    margin-inline: auto;

    th {
        padding-block: 14px;
        padding-inline-start: 14px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
        text-align: left;
        background-color: #F9FAFB;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #E5E7EB;
    }

    td {
        padding-block: 14px;
        padding-inline-start: 14px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #E5E7EB;
        font-size: 14px;
        font-weight: 300;
        line-height: 16.94px;
        text-align: left;
        color: #4B5563;
    }

    th:nth-child(odd),
    td:nth-child(odd) { 
        width: 340px;
    }

    th:nth-child(2), 
    td:nth-child(2) { 
        width: 680px;
    }
}

.labs_table_empty {
    margin-inline-start: 40px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 41.6px;
    text-align: left;
    color: #00000099;
}