
.table {
    width: 100%;
    border: none;

    & .header {
        background-color: #F9FAFB;
        border-top: none;
        border-bottom: 1px solid #E5E7EB;

        font-size: 14px;
        font-weight: 500;
        color: #000000;
        width: 200px;

        &:nth-child(2) {
            width: 670px;
        }
    }

    & .cell {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-size: 14px;
        font-weight: 400;
        color: #4B5563;

        &:hover {
            cursor: pointer;
        }
    }
}

.labs_table_empty {
    font-size: 32px;
    font-weight: 400;
    line-height: 41.6px;
    color: #00000099;
}