
.container {
  background-color: white;
  width: 530px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;

  & .title {
    font-size: 32px;
    line-height: 130%;
    color: black;
    padding: 16px;
    text-align: center;
  }

  & .button {
    background-color: #A855F7;
    width: max-content;
    margin: auto;

    font-size: 18px;
    padding: 10.5px 17.5px;
  }
}