
.wrapper {
  border-radius: 45px;

  & .container {
    position: relative;
    width: 450px;
    background-color: white;
    padding: 40px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    & .title {
      font-size: 24px;
      font-weight: 600;
    }

    & .close {
      width: 24px;
      height: 24px;
      padding: 6px;

      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}