.wrapper {
    border-radius: 6px;
  
    & .container {
      position: relative;
      width: 450px;
      background-color: white;
      border-radius: 6px;
  
      display: flex;
      flex-direction: column;
  
      & .title {
        padding: 21px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29.05px;
        text-align: center;
      }

      & .buttonContainer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 21px;
        height: 71px;
      }
  
      & .close {
        background-color: transparent;
        width: 24px;
        height: 24px;

        &:hover {
          background-color: #ECEBF9;
        }
      }
    }
  }