.wrapper {
    border-radius: 45px;
  
    & .container {
      position: relative;
      width: 492px;
      background-color: white;
      padding: 21px;
      border-radius: 6px;
  
      display: flex;
      flex-direction: column;
      gap: 16px;
      overflow-y: auto;
  
      & .title {
        font-family: Inter, sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 29.05px;
        text-align: left;

      }
  
      & .close {
        background-color: transparent;
        width: 24px;
        height: 24px;
        padding: 4px;
  
        position: absolute;
        top: 16px;
        right: 16px;
  
        &:hover {
          background-color: #ECEBF9;
        }
      }
    }
  }