.main__header {
    margin-inline: 48px;
    margin-block: 48px 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header_logo {
    max-width: 240px;
}

.main__header_buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.main__header_button {
    border-radius: 14px;
    padding-inline: 16px;
    font-size: 32px;
    font-weight: 500;
    line-height: 43.27px;
    letter-spacing: -0.017em;
    text-align: center;
}

.main__header_button_checked {
    background-color: #593780;
    color: #fff;
}

.main__header_avatar {
    max-width: 97px;
}