.attachedTests {
    display: flex;
    flex-direction: column;
}

.testsWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
}

.selectedTest {
    height: 60px;
    display: flex;
    justify-content: space-between;

    font-size: 18px;
    font-weight: 300;
    line-height: 21.78px;

    padding: 15px 30px;

    button {
        max-width: 30px;
        max-height: 30px;
        border-radius: 12px;
        padding: 8px;
    }
}