.container {
    display: flex;
    flex-direction: column;

    gap: 16px;

    & .title {
        font-size: 32px;
        font-weight: 400;
        line-height: 41.6px;
    }

    & .testContainer {
        display: flex;
        align-items: center;

        gap: 16px;

        & .circle {
            background-color: #4B5563;
            border-radius: 50%;
            width: 10px;
            height: 10px;
        }

        & .test {
            color: #4B5563;
            font-family: Inter;
            font-size: 24px;
            font-weight: 400;
            line-height: 31.2px;
        }
    }
}