.status {
    height: 39px;
    width: max-content;
    padding: 8px;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: white;
}

.todo, .inactive, .new {
    background-color: #6B7280;
}

.inprogress, .in_progress {
    background-color: #3B82F6;
}

.success, .done {
    background-color: #22C55E;
}

.error, .failure {
    background-color: #EF4444;
}

.default {
    background-color: antiquewhite;
}