.status {
    height: 39px;
    width: max-content;
    padding: 8px;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: white;
}

.todo {
    background-color: #6B7280;
}

.inprogress {
    background-color: #3B82F6;
}

.success {
    background-color: #22C55E;
}

.error {
    background-color: #EF4444;
}

.default {
    background-color: antiquewhite;
}