.labs-table {
    margin-inline: 165px;

    th {
        padding-block-end: 8px;
        font-size: 32px;
        font-weight: 500;
        line-height: 43.27px;
        letter-spacing: -0.017em;
        text-align: left;

        border-top: 2px solid transparent;
        border-bottom: 6px solid #593780;
    }

    td {
        padding-block: 26px 10px;
        border-top: 1px solid transparent;
        font-size: 32px;
        font-weight: 400;
        line-height: 43.27px;
        letter-spacing: -0.017em;
        text-align: left;
    }
}