@import "normalize";
@import 'primereact/resources/themes/bootstrap4-light-purple/theme.css';


:root {
  font-family: "Inter", sans-serif;
  --font-family: "Inter", sans-serif;
}

.p-autocomplete .p-autocomplete-loader {
  display: none;
}