
.container {
  display: flex;
  gap: 32px;
  align-items: center;

  & .title {
    font-size: 42px;
    line-height: 130%;
    color: #000000;
  }

  & .button {
    background-color: #A855F7;
    border-color: #A855F7;
    border-radius: 6px;
    gap: 7px;
    display: flex;
    align-items: center;
    padding: 10.5px 17.5px;

    & span {
      font-size: 14px;
      font-weight: 500;
      line-height: 100%;
      color: white;
      height: max-content;
    }

    & img {
      width: 14px;
      height: 14px;
    }
  }
}