

.container {
  width: max-content;
  background-color: #1F845A;
  border-radius: 24px;
  padding: 10px;

  font-size: 14px;
  font-weight: 500;
  color: #FFFAFA;
}

.errorContainer {
  background-color: #E24C4C;
}